@use '../variables';
@use '../mixins';

@include mixins.b(copy) {
  display: flex;
  align-items: center;

  @include mixins.m(text) {
    display: block;
    align-items: unset;

    @include mixins.e(icon) {
      display: inline-block !important;
      vertical-align: middle !important;
    }
  }

  @include mixins.e(icon) {
    margin-left: 4px;
    color: var(--#{variables.$prefix}color-text-sub);
    cursor: pointer;

    &:hover {
      color: var(--#{variables.$prefix}color-text);
    }

    @include mixins.when(active) {
      color: var(--#{variables.$prefix}color-success) !important;
    }
  }
}
