@use '../variables';
@use '../mixins';

@include mixins.b(detail-view) {
  @include mixins.m(vertical) {
    @include mixins.e(item) {
      flex-direction: column;
    }

    @include mixins.e(item-label-wrapper) {
      margin-right: 0;
      margin-bottom: 2px;
    }

    @include mixins.e(item-label) {
      font-size: 0.775em;

      &::after {
        content: none;
      }
    }
  }

  @include mixins.e(item) {
    display: inline-flex;

    @include mixins.m(center) {
      align-items: center;
    }
  }

  @include mixins.e(item-label-wrapper) {
    flex-shrink: 0;
    margin-right: 12px;
    overflow: hidden;
  }

  @include mixins.e(item-label) {
    display: inline-block;
    color: var(--#{variables.$prefix}color-text-sub);
    white-space: nowrap;

    &::after {
      margin-left: 2px;
      content: ':';
    }
  }

  @include mixins.e(item-content) {
    flex-grow: 1;
    word-break: break-all;
  }
}
