@use '~styles/variables';
@use '~styles/mixins';

@include mixins.b(layout) {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: calc(100% - 64px);

  @include mixins.e(content) {
    flex-grow: 1;
    height: 100%;
    overflow: hidden auto;
  }
}
